@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.body {
  z-index: 1; 
  .title {
    letter-spacing: 2.5px;
    font-size: 50px;
    // font-family: 'Dancing Script', cursive;
    font-family: 'Rancho', cursive;
    color:var(--ion-color-secondary)
  }
}

img {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.scan-wrapper {
    // border:2px solid;
    // border-color: #fff;
    display: flex;
    left: 50%;
    // height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;

    .scan-circle{
      width: 93%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      box-shadow: 0 0 0 100vw var(--ion-color-tertiary);
      content: '';
    }
}

ion-fab ion-icon {
  font-size: 25px;
  padding: 10px;
}